#out-cont{
     /* border: 1px dotted black; */
    width: 80vw;
    margin: auto;

}
.row{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    background-color: bisque;
}
.col{
    width: 100%;
     border: 1px solid gray;
}
#search{
    margin-top: 50px;
    margin-bottom: 50px;
}